body {
    padding: 20px !important;
    height: auto;
}
.btn-container {
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: right;
}
#tbl_corps thead th {
    text-align: center
}
.btn-start {
    display: none;
}
.btn-resume {
    display: none;
}
